
CAB201Assignment/TankBattle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CAB201Assignment/TankBattle/obj/Debug/TankBattle.csproj.CoreCompileInputs.cache
CAB201Assignment/TankBattle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.ide
